body {
	font-family:Verdana;
	font-size:14px;
	background-color:#000033;
	color: #FF6600;
}

a  {
	text-decoration:none;;
}
a:link {
	color: #0099FF;
}
a:visited {
	color: #3399FF;
}
a:hover {
	color: #FF6600;
}

.leftElement {
	background-color:#000066;
	width:14%;
	line-height:18px;
	float:left;
	border:1px solid #aaaaaa;
	left:200px;top:50px;
	-moz-border-radius:10px;
	padding-top:7px;
	height:98%;
}

.rightElemnt {
	background-color:#000066;
	float:left;
	width:82.5%;
	margin-left:3%;
	border:1px solid #aaaaaa;
	left:200px;top:50px;
	-moz-border-radius:10px;
	padding-top:7px;
	height:98%;
}

.middelElemnt {
	background-color:#000066;
	margin-bottom:15px;
	border:1px solid #aaaaaa;
	left:200px;top:50px;
	-moz-border-radius:10px;
	padding-top:7px;
	height:20px;
}

.newsElement1 {
	background-color:#efefef;
	border:1px solid #aaaaaa;
	left:200px;top:50px;
	-moz-border-radius:10px;
	width:100%;
}

.gebElement1 {
	background-color:#efefef;
	border:1px solid #aaaaaa;
	left:200px;top:50px;
	-moz-border-radius:10px;
	width:100%;
}

.impElement1 {
	padding:10px;
	background-color:#efefef;
	border:1px solid #aaaaaa;
	left:200px;top:50px;
	-moz-border-radius:10px;
	width:100%;
}

.picElement1 a
{
	display: block;
	padding: 3px;
	width: 80%;
	background-color: #efefef;
	text-decoration: none;
}
.picElement1 a:link, a:visited
{
	color: #0099FF;
	text-decoration: none;
}
.picElement1 a:hover
{
	background-color: #0099FF;
	color: #fff;
	left:200px;top:50px;
	-moz-border-radius:10px;
}

.picElement2 {
	float:left;
	padding:5px;
	background-color:#efefef;
	border:1px solid #aaaaaa;
	width:50px;
	height:50px;
	margin-left:10px;
	text-align:center;
	-moz-border-radius:10px;
}

.picElement3 {
	float:left;
	background-color:#efefef;
	margin-left:10px;
	text-align:center;
}

.picElement3 a {
	display: block;
	padding: 3px;
	width: 80%;
	background-color: #efefef;
	text-decoration: none;
}
.picElement3 a:link, a:visited {
	color: #0099FF;
	text-decoration: none;
}
.picElement3 a:hover {
	background-color: #0099FF;
	color: #fff;
	left:200px;top:50px;
	-moz-border-radius:10px;
}

.picElement4 {
	float:left;
	padding:3px;
	background-color:#efefef;
	border:1px solid #aaaaaa;
	margin-left:10px;
	text-align:center;
	width:95%;
	-moz-border-radius:10px;
}

#doppelframe1 {
	width:100%;
	margin-bottom:20px;
	height:65px;
}

#doppelframe2 {
	width:100%;
	margin-bottom:20px;
	height:67%;
}

#navcontainer { width: 90%; }
#navcontainer ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
#navcontainer a
{
	display: block;
	padding: 3px;
	width: 80%;
	background-color: #000066;
	text-decoration: none;
}
#navcontainer a:link, .navlist a:visited
{
	color: #0099FF;
	text-decoration: none;
}
#navcontainer a:hover
{
	background-color: #0099FF;
	color: #fff;
	left:200px;top:50px;
	-moz-border-radius:10px;
}

#navcontainer2
{
	margin: 10px 0 0 30px;
	padding: 0;
	height: 20px;
}
#navcontainer2 ul
{
	border: 0;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}
#navcontainer2 ul li
{
	display: block;
	float: left;
	text-align: center;
	padding: 0;
	margin: 0;
}
#navcontainer2 ul li a
{
	background: #fff;
	width: 78px;
	height: 18px;
	border-top: 1px solid #f5d7b4;
	border-left: 1px solid #f5d7b4;
	border-bottom: 1px solid #f5d7b4;
	border-right: none;
	padding: 0;
	margin: 0 0 10px 0;
	color: #0099FF;
	text-decoration: none;
	display: block;
	text-align: center;
	font: normal 10px/18px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}
#navcontainer2 ul li a:hover
{
	color: #930;
	background: #f5d7b4;
}
#navcontainer2 a:active
{
	background: #c60;
	color: #fff;
}
#navcontainer2 li
{
	background: #c60;
	border: 1px solid #c60;
	color: #fff;
}