body,td,th {
	color: #FFFFFF;
}
body {
	background-color: 	#000099;
}
a:link {
	color: #9EBDE4;
}
a:visited {
	color: #6699CC;
}
a:hover {
	color: #CADFFA;
}

h1 {
	color: #FF3300;
}
h2 {
	color: #CC3300;
}


#title {
	height:70px;
	padding:1px;
	border-bottom:1px solid #000000;
	margin-bottom:5px;
}
#menue{
	width:14%;
	line-height:18px;
	float:left;
}
#main {
	float:left;
	width:76%;
	margin-left:3%;
}


#navcontainer { width: 90%; }
#navcontainer ul
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}
#navcontainer a
{
	display: block;
	padding: 3px;
	width: 80%;
	background-color: #000066;
	text-decoration: none;
}
#navcontainer a:link, .navlist a:visited
{
	color: #EEE;
	text-decoration: none;
}
#navcontainer a:hover
{
	background-color: #369;
	color: #fff;
}
