body
{
	background:#000000;
	margin:0px;
	padding:0px;
}



#banner
{
	height:80px;
	background:#3300FF;
}

#menu
{
	width:20%;
	background:#3300FF;
	float:left;
}

#text
{
	width:80%;
	background:#3300FF;
	float:left
}

#kleinesmenu
{
	margin:15px;
	background:#000000;
}

#kleinertext
{
	margin:15px;
	background:#000000;
}

#kleinesbanner
{
	margin:15px;
	background:#000000;
}

.schrift
{color:#45acf6;}


.menuref:link 
{
color:gold; 
text-decoration:none;
}

.menuref:visited 
{
color:gold; 
text-decoration:none;
}

.menuref:active 
{
color:gold; 
text-decoration:none;
}

.menuref:hover 
{
color:#45acf6; 
text-decoration:underline overline;
}